.card{
  display:flex;
  align-items:center;
  justify-content:center;
  background:#ffd43b;
  border-radius:10px;
  padding:30px;
}

.small-cards{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;

}

.small-card{
  display:flex;
  flex-direction: column;
  background:#a9e34b;
  font-size:20px;
  margin:5px;
  align-items:center;
  justify-content:center;
  border-radius:10px;
  border:2px solid black;
}